<?xml version="1.0" encoding="UTF-8"?>

<!-- 김아름 -->
<!-- UserDAO 전용 Mapper: user관리 sql문 명시 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebtd.www.dao.I_AdminUserDao">

	                <!-- mybatis-config.xml에 별칭설정 or Bean에 @Alias("user") -->
	<select id="getUserList" resultType="user">
		SELECT * FROM U
	</select>
	
	<select id="getUserSearchUserName" resultType="user">
		SELECT * FROM U WHERE U_USERNAME  LIKE '%'||#{u_userName}||'%'
	</select>
	
	<select id="getUserSearchUType" resultType="user">
		SELECT * FROM U WHERE U_TYPE=#{'u_type'}
	</select>
	
	<select id="getUserDetail" resultType="user">
		SELECT * FROM U WHERE U_USERNAME=#{'u_userName'}
	</select>
	
	<!-- 이용자 전체 히스토리 -->
	<select id="getUserHistoryList" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
		ORDER BY UR.UR_NO DESC
	</select>
	
	<select id="getUserHistoryDateList" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
 		WHERE UR_DATE BETWEEN SYSDATE-#{period} AND SYSDATE
 		ORDER BY UR.UR_NO DESC
	</select>
	
	<select id="getUserHistoryUserName" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
 		WHERE U.U_USERNAME LIKE '%'||#{u_userName}||'%'
 		ORDER BY UR.UR_NO DESC
 	</select>
	
	<select id="getUserHistoryCompanyName" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
 		WHERE B.C_USERNAME LIKE '%'||#{c_userName}||'%'
 		ORDER BY UR.UR_NO DESC
 	</select>
 	
	<select id="getUserHistoryBusNum" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
 		WHERE UR.B_NO LIKE '%'||#{b_no}||'%'
 		ORDER BY UR.UR_NO DESC
 	</select>
 	
 	<select id="getStopStartName" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,
				B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
 		WHERE S1.S_NAME LIKE '%'||#{s_namestart}||'%'
 		ORDER BY UR.UR_NO DESC
 	</select>
 	
 	<select id="getStopLastName" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,
				B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
 		WHERE S2.S_NAME LIKE '%'||#{s_namestart}||'%'
 		ORDER BY UR.UR_NO DESC
 	</select>
 	
 	<select id="getState" resultType="userReserveHistory">
		SELECT UR.UR_NO, 
				UR.U_USERNAME, 
				UR.B_NO,
				B.C_USERNAME, 
				UR.UR_DATE, 
				UR.S_NOSTART,
				S1.S_NAME S_NAMESTART,  
				UR.S_NOLAST,
				S2.S_NAME S_NAMELAST,
				UR.UR_STATE, 
				U.U_TYPE
		FROM UR
		LEFT JOIN B ON UR.B_NO = B.B_NO
		LEFT JOIN U ON U.U_USERNAME = UR.U_USERNAME
		JOIN S S1 ON UR.S_NOSTART=S1.S_NO
		JOIN S S2 ON UR.S_NOLAST=S2.S_NO
 		WHERE UR.UR_STATE=#{ur_state}
 		ORDER BY UR.UR_NO DESC
 	</select>
 	
</mapper>
