<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- I_AdminCompanyDao 전용 Mapper : 회사관리 관련 SQL문 -->
<mapper namespace="com.ebtd.www.dao.I_AdminCompanyDao">
	<select id="getCompanyRequestList" resultType="Company">
		SELECT C_NAME FROM COMPANY WHERE C_STATE =0
	</select>
	<select id="getCompanyRequestDetail" resultType="ApplyBusHistory">
		select ap.ap_od_no, apde.*, s.s_name, s.t_name, c.c_name, ap.ap_date, c.c_no, c.c_username
		from apde apde 
		join s s on apde.s_no = s.s_no
		join ap ap on apde.ap_no = ap.ap_no and apde.ap_b_no = ap.ap_b_no
		join c c on c.c_username = ap.c_username
		where ap.ap_state = 0 and c.c_name = #{c_name}
		order by apde.ap_b_no , apde.apde_turn
	</select>
	<select id="getCompanyRequestRouteList" resultType="ApplyBusHistory">
		SELECT C.C_NAME, H.AP_B_NO
		FROM COMPANY C, APPLY_BUS_HISTORY H
		WHERE C.C_USERNAME=H.C_USERNAME
		AND C.C_NAME=#{c_name}
	</select>
	<update id="setCompanyRequestApproval" parameterType="Company"> <!-- resultType은 쓰면 안돼~~! -->
		UPDATE COMPANY SET C_STATE=1 WHERE C_NAME=#{c_name}
	</update>
	
	<select id="getUsernameInBus" resultType="ApplyBusHistory">
		SELECT C_USERNAME FROM BUS WHERE C_USERNAME=#{c_username} 
	</select>
	<delete id="setDeleteDriver" parameterType="Company">
		DELETE FROM DRIVER WHERE C_USERNAME=#{c_username}
	</delete>
 	<delete id="setDeleteAllbus" parameterType="Company">
		DELETE FROM ALLBUS AB WHERE EXISTS (SELECT 1 FROM BUS B WHERE B.B_NO=AB.B_NO AND B.C_USERNAME=#{c_username})
	</delete>
 	<delete id="setDeleteBus" parameterType="Company">
		DELETE FROM BUS WHERE C_USERNAME=#{c_username}
	</delete>
 	<delete id="setDeleteApplybusHistorydetail" parameterType="Company">
		DELETE FROM APPLY_BUS_HISTORY_DETAIL HD WHERE EXISTS (SELECT 1 FROM APPLY_BUS_HISTORY H WHERE HD.AP_B_NO=H.AP_B_NO AND H.C_USERNAME=#{c_username})
	</delete>
 	<delete id="setDeleteApplybushistory" parameterType="Company">
		DELETE FROM APPLY_BUS_HISTORY WHERE C_USERNAME=#{c_username}
	</delete>
 	<delete id="setDeleteOfficialdocument" parameterType="Company">
		DELETE FROM OFFICIAL_DOCUMENT WHERE C_USERNAME=#{c_username}
	</delete>
 	<delete id="setDeleteCompany" parameterType="Company">
		DELETE FROM COMPANY WHERE C_USERNAME=#{c_username}
	</delete>
	
	<select id="getNewBusRouteList" resultType="ApplyBusHistory">
		SELECT DISTINCT H.AP_NO, H.AP_B_NO, C.C_NAME, H.AP_DATE, C.C_USERNAME
		FROM APPLY_BUS_HISTORY H
		JOIN COMPANY C ON H.C_USERNAME=C.C_USERNAME
		JOIN ALLBUS AB ON AB.B_NO=H.AP_B_NO
		WHERE H.AP_STATE=0 AND AB.AB_STATE=0 AND C.C_STATE=1
		ORDER BY H.AP_NO
	</select>
	<select id="getNewBusRouteDetail" resultType="ApplyBusHistory">
		SELECT H.AP_B_NO, HD.APDE_TURN, S.S_NO, S.S_NAME, S.T_NAME
		FROM APPLY_BUS_HISTORY H
		JOIN COMPANY C ON H.C_USERNAME=C.C_USERNAME
		JOIN APPLY_BUS_HISTORY_DETAIL HD ON H.AP_NO=HD.AP_NO AND HD.AP_B_NO = H.AP_B_NO
		JOIN STOP S ON HD.S_NO=S.S_NO
		WHERE H.AP_B_NO=#{ap_b_no} AND H.AP_STATE=0
		ORDER BY HD.AP_B_NO, HD.APDE_TURN
	</select>
	<select id="getNewBusOfficialDocument" resultType="ApplyBusHistory">
		SELECT H.AP_OD_NO, H.AP_NO, H.AP_B_NO, C.C_NAME, H.AP_DATE, C.C_USERNAME, C.C_NO
		FROM APPLY_BUS_HISTORY H
		JOIN COMPANY C ON H.C_USERNAME=C.C_USERNAME
		JOIN APPLY_BUS_HISTORY_DETAIL HD ON H.AP_NO=HD.AP_NO AND HD.AP_B_NO = H.AP_B_NO
		JOIN STOP S ON HD.S_NO=S.S_NO
		WHERE H.AP_NO=#{ap_no} AND H.AP_STATE=0
		ORDER BY HD.AP_B_NO, HD.APDE_TURN
	</select>
	<select id="getNewBusNumber" resultType="ApplyBusHistory">
		select ap_b_no from apply_bus_history where ap_no=#{ap_no}
	</select>
	
	<update id="setApplyBusHistoryChangeApproval" parameterType="ApplyBusHistory"> <!-- resultType은 쓰면 안돼~~! -->
		UPDATE APPLY_BUS_HISTORY SET AP_STATE=1 WHERE AP_B_NO=#{ap_b_no}
	</update>
	<update id="setApplyBusHistoryChange4Approval" parameterType="ApplyBusHistory"> <!-- resultType은 쓰면 안돼~~! -->
		UPDATE APPLY_BUS_HISTORY SET AP_STATE=4 WHERE AP_B_NO=#{ap_b_no} and ap_no=#{ap_no}
	</update>
	<update id="setAllBusChangeApproval" parameterType="ApplyBusHistory"> <!-- resultType은 쓰면 안돼~~! -->
		UPDATE ALLBUS SET AB_STATE=1 WHERE B_NO=#{ap_b_no}
	</update>
	<insert id="setNewRouteBus" parameterType="ApplyBusHistory">
		INSERT INTO ROUTE_BUS(R_TURN, B_NO, S_NO) 
		SELECT APDE_TURN, AP_B_NO, S_NO FROM APPLY_BUS_HISTORY_DETAIL 
		WHERE AP_B_NO=#{ap_b_no} AND AP_NO=#{ap_no}
	</insert>
	<delete id="setDeleteRouteBus" parameterType="ApplyBusHistory">
		DELETE FROM ROUTE_BUS WHERE B_NO = #{ap_b_no}
	</delete>
	<insert id="setUpdateRouteBus" parameterType="ApplyBusHistory">
		INSERT INTO ROUTE_BUS(R_TURN, B_NO, S_NO) 
		SELECT APDE_TURN, AP_B_NO, S_NO FROM APPLY_BUS_HISTORY_DETAIL 
		WHERE AP_B_NO=#{ap_b_no} AND AP_NO=#{ap_no}
	</insert>
	
	<update id="setApplyBusHistoryChange2Reject" parameterType="Map">
		UPDATE APPLY_BUS_HISTORY SET AP_STATE = 2, AP_REJECT = #{ap_reject} WHERE AP_B_NO = #{ap_b_no} AND AP_NO = #{ap_no}
	</update>
	<delete id="setDeleteAllbus2" parameterType="Map">
		DELETE FROM ALLBUS WHERE B_NO = #{ap_b_no}
	</delete>
	<delete id="setDeleteDriver2" parameterType="Map">
		DELETE FROM DRIVER WHERE B_NO = #{ap_b_no}
	</delete>
	<delete id="setDeleteBus2" parameterType="Map">
		DELETE FROM BUS WHERE B_NO = #{ap_b_no}
	</delete>
	
	
	<update id="setApplyBusHistoryChange5Reject" parameterType="Map">
		UPDATE APPLY_BUS_HISTORY SET AP_STATE = 5, AP_REJECT = #{ap_reject} 
		WHERE AP_B_NO = #{ap_b_no} AND AP_NO = #{ap_no}
	</update>
	
	<select id="getUpdateBusRouteList" resultType="ApplyBusHistory">
		SELECT DISTINCT H.AP_NO, H.AP_B_NO, C.C_NAME, H.AP_DATE, C.C_USERNAME
		FROM APPLY_BUS_HISTORY H
		JOIN COMPANY C ON H.C_USERNAME=C.C_USERNAME
		WHERE H.AP_STATE=3
		ORDER BY H.AP_NO
	</select>
	<select id="getUpdateBusRouteDetail" resultType="ApplyBusHistory">
		SELECT H.AP_OD_NO, H.AP_B_NO, HD.APDE_TURN, S.S_NO, S.S_NAME, S.T_NAME
		FROM APPLY_BUS_HISTORY H
		JOIN COMPANY C ON H.C_USERNAME=C.C_USERNAME
		JOIN APPLY_BUS_HISTORY_DETAIL HD ON H.AP_NO=HD.AP_NO AND HD.AP_B_NO = H.AP_B_NO
		JOIN STOP S ON HD.S_NO=S.S_NO
		WHERE H.AP_B_NO=#{ap_b_no} AND H.AP_STATE=3
		ORDER BY HD.AP_B_NO, HD.APDE_TURN
	</select>
	<select id="getUpdateBusOfficialDocument" resultType="ApplyBusHistory">
		SELECT H.AP_NO, H.AP_B_NO, C.C_NAME, H.AP_DATE, C.C_USERNAME, C.C_NO, H.AP_OD_NO
		FROM APPLY_BUS_HISTORY H
		JOIN COMPANY C ON H.C_USERNAME=C.C_USERNAME
		JOIN APPLY_BUS_HISTORY_DETAIL HD ON H.AP_NO=HD.AP_NO AND HD.AP_B_NO = H.AP_B_NO
		JOIN STOP S ON HD.S_NO=S.S_NO
		WHERE H.AP_NO=#{ap_no} AND H.AP_STATE=3
		ORDER BY HD.AP_B_NO, HD.APDE_TURN
	</select>
	<select id="getUpdateBusNumber" resultType="ApplyBusHistory">
		select ap_b_no from apply_bus_history where ap_no=#{ap_no}
	</select>
	<select id="getApplyBusRouteDetail" resultType="ApplyBusHistory">
		SELECT HD.APDE_TURN, HD.S_NO, S.S_NAME, S.T_NAME
		FROM COMPANY C, APPLY_BUS_HISTORY H, APPLY_BUS_HISTORY_DETAIL HD, STOP S
		WHERE C.C_USERNAME=H.C_USERNAME
		AND H.AP_NO=HD.AP_NO
		AND HD.S_NO=S.S_NO
		AND H.AP_B_NO=#{ap_b_no}
	</select>
	
	
	<select id="getCompanyNameList" resultType="Company">
		SELECT C_NAME, C_USERNAME FROM COMPANY WHERE C_STATE=1
	</select>
	<select id="getCompanyName" resultType="Company">
		SELECT C_NAME, C_USERNAME FROM COMPANY WHERE C_USERNAME=#{c_username}
	</select>
	<select id="getBusDriverCount" resultType="Company">
		SELECT DISTINCT B_NO,
						(SELECT COUNT(B_NO) FROM AB AB2 WHERE AB_STATE = 1 AND AB.B_NO = AB2.B_NO) AS B_ALL_NUM,
						(SELECT COUNT(D_NO) FROM D WHERE B_NO = AB.B_NO) AS D_NUM
		FROM ALLBUS AB
		WHERE AB.AB_STATE=1
	</select>
	<select id="getVocRecommendCount" resultType="Company">
		SELECT COUNT(C_USERNAME) AS V_COUNT, SUM(VOC_RECOMMEND) AS VOC_RECOMMEND 
		FROM VOC WHERE C_USERNAME=#{c_username}
	</select>
	<select id="getLowfloorRegularCount" resultType="Company">
		SELECT * FROM (SELECT AB.B_NO,
					   COUNT(DECODE(AB_TYPE, '1', 1)) B_LOWFLOOR_NUM,
					   COUNT(DECODE(AB_TYPE, '0', 1)) B_REGULAR_NUM
					   FROM ALLBUS AB
					   JOIN BUS B ON AB.B_NO=B.B_NO
					   WHERE B.C_USERNAME=#{c_username}
					   GROUP BY AB.B_NO)
	</select>
	
	<select id="getCompanyQuestionList" resultType="Company">
		SELECT V_NO, C_USERNAME, B_NO, V_TITLE, V_CONTENT, TO_CHAR(V_DATE,'YYYY-MM-DD') AS V_DATE, VOC_RECOMMEND 
		FROM VOC 
		WHERE C_USERNAME = #{c_username}
		ORDER BY V_NO
	</select>
	
	<select id="getCompanyApprovalList" resultType="ApplyBusHistory">
		SELECT H.AP_B_NO, H.AP_NO, C.C_NAME, C.C_USERNAME, H.AP_B_NO, TO_CHAR(H.AP_DATE,'YYYY-MM-DD') AS AP_DATE, H.AP_STATE
		FROM COMPANY C
		JOIN APPLY_BUS_HISTORY H ON C.C_USERNAME = H.C_USERNAME 
		WHERE H.AP_STATE = 1 OR H.AP_STATE = 4
		order by h.ap_date desc
	</select>
	<select id="getCompanyApprovalDetail" resultType="ApplyBusHistory">
		SELECT C.C_NAME, C.C_USERNAME, HD.APDE_TURN, H.AP_B_NO, HD.S_NO, S.S_NAME
		FROM COMPANY C
		JOIN APPLY_BUS_HISTORY H ON C.C_USERNAME = H.C_USERNAME
		JOIN APPLY_BUS_HISTORY_DETAIL HD ON H.AP_NO = HD.AP_NO AND H.AP_B_NO=HD.AP_B_NO
		JOIN STOP S ON S.S_NO = HD.S_NO
		WHERE H.AP_NO = #{ap_no} AND HD.AP_NO = #{ap_no} AND H.AP_B_NO = #{ap_b_no}
		ORDER BY APDE_TURN
	</select>
	<select id="getCompanyRejectList" resultType="ApplyBusHistory">
		SELECT H.AP_NO, C.C_NAME, C.C_USERNAME, H.AP_B_NO, TO_CHAR(H.AP_DATE,'YYYY-MM-DD') AS AP_DATE, H.AP_STATE
		FROM COMPANY C
		JOIN APPLY_BUS_HISTORY H ON C.C_USERNAME = H.C_USERNAME 
		WHERE H.AP_STATE = 2 OR H.AP_STATE = 5
		order by h.ap_date desc
	</select>
	<select id="getCompanyRejectDetail" resultType="ApplyBusHistory">
		SELECT C.C_NAME, C.C_USERNAME, HD.APDE_TURN, H.AP_B_NO, HD.S_NO, S.S_NAME, H.AP_REJECT
		FROM COMPANY C
		JOIN APPLY_BUS_HISTORY H ON C.C_USERNAME = H.C_USERNAME
		JOIN APPLY_BUS_HISTORY_DETAIL HD ON H.AP_B_NO = HD.AP_B_NO AND H.AP_B_NO=HD.AP_B_NO
		JOIN STOP S ON S.S_NO = HD.S_NO
		WHERE H.AP_NO = #{ap_no} AND HD.AP_NO = #{ap_no} AND H.AP_B_NO = #{ap_b_no}
		ORDER BY APDE_TURN
	</select>
	<select id="getVocCount" resultType="VocBean">
	select (select count(voc_recommend) from voc where voc_recommend=1) chu,
       	   (select count(voc_recommend) from voc where voc_recommend=-1) bee
	from dual
	</select>
</mapper>
