<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebtd.www.dao.I_AdminStopDao">

<select id="getStopList" parameterType="search_wh" resultType="stop">
		<![CDATA[
			SELECT * FROM (
			SELECT /*+INDEX_ASC(S PK_S_NO)*/ ROWNUM RN, S.*
			FROM S
			WHERE ROWNUM<=#{pageNum}*15 and s_name like '%'||#{search}||'%')
			WHERE RN>=#{pageNum}*15-14 
		]]>
</select>

	<!-- 정류장 갯수 조회 -->
<select id="getStopCount" resultType="int">
	select count(*) from stop where s_name like '%'||#{search}||'%'
</select>

<select id="getStopDetail" parameterType="Integer" resultType="stop">
	SELECT * FROM STOP WHERE S_NO = #{s_No}
</select>

<select id="getComment" parameterType="Integer" resultType="stop">
	SELECT * FROM STOP WHERE S_NO = #{s_No}
</select>

<select id="getStopConfirmList" resultType="sa">
	SELECT * FROM STOP_APPLY WHERE SA_STATE = 0
</select>	

<select id="getStopConfirmDetail" parameterType="Integer" resultType="sa">
	SELECT * FROM STOP_APPLY WHERE SA_NO=#{sa_No}
</select>

<select id="checkStopList" parameterType="String" resultType="stop">
	SELECT * from STOP WHERE S_NAME=#{s_Name}
</select>

<select id="checkPosition" parameterType="stop" resultType="stop">
	SELECT S_NAME FROM STOP WHERE S_X=#{s_X} and S_Y=#{s_Y}
</select> 

<select id="stopList" resultType="stop">
	SELECT DISTINCT T_NAME FROM S
</select>

<insert id="addStop" parameterType="stop">
	INSERT INTO STOP VALUES(#{S_NO}, #{T_NAME}, #{S_NAME}, #{S_X}, #{S_Y}, #{S_DETAIL})
</insert>

<update id="addStopComment" parameterType="stop">
	UPDATE STOP SET S_DETAIL=#{S_DETAIL} WHERE S_NO=#{S_NO}
</update>

<update id="setStopRequestReject" parameterType="Integer">
	UPDATE STOP_APPLY SET SA_STATE=2 WHERE SA_NO=#{sa_No}
</update>

<select id="getStopNo" parameterType="Map" resultType="int">
	SELECT MAX(S_NO)+1 AS S_NO FROM S WHERE T_NAME=#{t_Name}
</select>

<insert id="approvalAddStop" parameterType="Map">
	INSERT INTO STOP VALUES(#{s_No}, #{t_Name}, #{sa_Name}, #{sa_X}, #{sa_Y}, null)
</insert>

<update id="setStopRequestApproval" parameterType="Map">
	UPDATE STOP_APPLY SET SA_STATE=1 WHERE SA_NO=#{sa_No}
</update>

<select id="getOfficialDocumentResult" resultType="sa">
	SELECT * FROM STOP_APPLY WHERE SA_STATE=1 OR SA_STATE=2
</select>

<select id="checkStopNo" parameterType="String" resultType="String">
	SELECT MAX(S_NO)+1 AS S_NO FROM S WHERE T_NAME=#{t_Name}
</select>

<select id="searchStop" parameterType="String" resultType="stop">
	SELECT * FROM S WHERE S_NAME LIKE '%'||#{search}||'%'
</select>

</mapper>