<?xml version="1.0" encoding="UTF-8"?>
<!-- BusDAO 전용 Mapper : 버스 관련 sql문 명시 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebtd.www.dao.I_BusDao">
	<select id="getStopList" resultType="stop">
	SELECT * FROM S 
	</select>
	
	<select id="getTownList" resultType="town">
	SELECT * FROM T
	</select>
	
	<select id="busNumCheck" resultType = "int" parameterType="String">
	SELECT COUNT(*) FROM B WHERE B_NO = #{busNum}
	</select>
	
	<select id="existBusNumCheck" resultType="int" parameterType="String">
	SELECT COUNT(*) FROM B WHERE B_NO = #{busNum}
	</select>
	
	<select id="getApplyNumber" resultType="int" parameterType="com.ebtd.www.bean.ApplyBusHistory">
	SELECT MAX(ap_no) FROM (SELECT * FROM APPLY_BUS_HISTORY WHERE ap_b_no = #{ap_b_no})
	</select>
	
	<insert id="applyNewBusRoute" parameterType="com.ebtd.www.bean.ApplyBusHistory">
	<selectKey resultType="int" order="BEFORE" >
	SELECT SEQ_AP_NO.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO APPLY_BUS_HISTORY(AP_NO, AP_B_NO, C_USERNAME, AP_DATE, AP_STATE) VALUES(SEQ_AP_NO.NEXTVAL, #{ap_b_no}, #{c_username}, SYSDATE, 0)
	</insert>
	
	<insert id="addBusAndCompany" parameterType="com.ebtd.www.bean.ApplyBusHistory">
	INSERT INTO BUS(B_NO, C_USERNAME) VALUES(#{ap_b_no}, #{c_username})
	</insert>

	<insert id="applyNewBusRouteDetail" parameterType="com.ebtd.www.bean.ApplyBusHistory">
	INSERT INTO APPLY_BUS_HISTORY_DETAIL(AP_NO, AP_B_NO, APDE_TURN, S_NO) VALUES(#{ap_no}, #{ap_b_no}, #{apde_turn}, #{s_no})
	</insert>
	
	<insert id="addNewMotorNumber" parameterType="bus">
	INSERT INTO ALLBUS(AB_NO, B_NO, AB_TYPE, AB_STATE) VALUES(#{motorNumber}, #{busNumber}, #{busType}, 0)
	</insert>
	
	<insert id="applyUpdateBusRoute" parameterType="com.ebtd.www.bean.ApplyBusHistory">
	<selectKey resultType="int" order="BEFORE" >
	SELECT SEQ_AP_NO.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO APPLY_BUS_HISTORY(AP_NO, AP_B_NO, C_USERNAME, AP_DATE, AP_STATE) VALUES(SEQ_AP_NO.NEXTVAL, #{ap_b_no}, #{c_username}, SYSDATE, 3) 
	</insert>
	<select resultType="String" id="getTownNameList">SELECT t_name FROM T </select>
</mapper>
