<?xml version="1.0" encoding="UTF-8"?>
<!-- StopDAO 전용 Mapper : 정류장 관련 sql문 명시 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebtd.www.dao.I_CompanyStopDao">


	<!-- 정류장 리스트 조회 --> <!-- 페이징 하려면 바꿔야함 -->
 	<select id="getStopList" parameterType="Integer" resultType="stop" > 
		SELECT * FROM STOP
	</select>
	
	<!-- 정류장 상세내용 조회 -->
 	<select id="getStopDetail" resultType="stop" parameterType="Integer" > 
		SELECT * FROM STOP WHERE S_NO = #{S_NO}
	</select>
  
  	<!-- 정류장 등록 신청 -->
  	<insert id="addNewStop"> 
  		<selectKey resultType="int" order="BEFORE" >
			SELECT SA_NO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO STOP_APPLY(SA_X,SA_Y,SA_NAME,T_NAME,C_USERNAME,SA_REASON,SA_STATE,SA_NO,SA_DATE)
		VALUES(#{sa_X},#{sa_Y},#{sa_Name},#{t_Name},#{c_UserName},#{sa_Reason},#{sa_State},SA_NO_SEQ.NEXTVAL,DEFAULT)
	</insert>  
	
	<!-- 정류장 등록 내역 조회 -->
	<select id="getNewStopConfirmList" resultType="sa" > 
		SELECT * FROM STOP_APPLY
	</select>
	
	<!-- 특정 정류장 정보 검색 -->
	<select id="searchStop" resultType="stop" parameterType="String"> 
	SELECT * FROM STOP WHERE S_NAME LIKE '%'||#{S_NAME}||'%'
	</select> 
	
	<!-- 정류장 이름 중복 조회 -->
 	<select id="checkSaName" resultType="stop" parameterType="String" > 
		SELECT * FROM STOP WHERE S_NAME = #{S_NAME}
	</select>
	
	<!-- 정류장 위치 중복 조회 -->
 	<select id="checkSaPosition" resultType="stop" parameterType="Map" > 
		SELECT * FROM STOP WHERE S_X = #{S_X} AND S_Y = #{S_Y}
	</select>
	
	<!-- 정류장신청 상세내용 조회 -->
 	<select id="getStopApplyDetail" resultType="sa" parameterType="Integer" >
		SELECT * FROM STOP_APPLY WHERE sa_No = #{sa_No}
	</select>
</mapper>
